        <footer class="footer">
            <div class="footer__inner">
                <p>
                    &copy; 2020 <a href="https://sebkay.com" target="_blank">Seb Kay</a>. All rights reserved.
                </p>
            </div>
        </footer>
    </div><!-- end .page -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165364402-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-165364402-2');
    </script>
</body>
</html>
