        <footer class="footer">
            <div class="footer__inner">
                <p>
                    &copy; 2020 <a href="https://sebkay.com" target="_blank">Seb Kay</a>. All rights reserved.
                </p>
            </div>
        </footer>
    </div><!-- end .page -->

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="TIYFJDWV" defer></script>
    <!-- / Fathom -->
</body>
</html>
