.btn {
    @extend %txt-upper;
    display: inline-block;
    cursor: pointer;
    box-shadow: $box-shadow-1;
    border-radius: $border_radius_2;
    background: $ui-color-1;
    transition: background $transition-1;
    // Type
    line-height: normal;
    color: #fff;
}

.btn:hover {
    background: darken($ui-color-1, 8);
    // Type
    text-decoration: none;
}

//---- Responsive ----//
@media screen and (min-width: 501px) {
    .btn {
        @include rem(15px);
        padding: 13px 26px;
    }

    .btn.btn--large {
        @include rem(18px);
        padding: 16px 29px;
    }
}

@media screen and (max-width: 500px) {
    .btn {
        @include rem(13px);
        padding: 10px 23px;
    }

    .btn.btn--large {
        @include rem(16px);
        padding: 14px 23px;
    }
}
