.footer {
    border-top: 1px solid $ui-color-2-3;
}

.footer__inner {
    width: 92%;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    // Type
    text-align: center;

    p,
    a {
        // Type
        color: $ui-color-2-1;
    }

    p {
        @include rem(14px);
    }
}
