.main {
    width: 92%;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    // Type
    text-align: center;
}

.main__inner {
    padding-top: 6.5%;
    padding-bottom: 6.5%;

    h1 {
        margin-bottom: 20px;
    }
}

//---- Responsive ----//
@media screen and (min-width: 1025px) {
    .main__inner {
        .main__intro,
        .main__media {
            margin-bottom: 60px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .main__inner {
        .main__intro,
        .main__media {
            margin-bottom: 40px;
        }
    }
}
