{% include header.liquid %}

{% if page.content != '' %}
    <main class="main">
        <div class="main__inner">
            {{ page.content | markdownify }}
        </div>
    </main>
{% endif %}

{% include footer.liquid %}
