body {
    // Type
    font-family: map-get($font-1, family);
    font-size: $font-base-size;
    color: $font-base-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // Type
    font-weight: 300;
    line-height: 130%;
    color: $ui-color-2-2;
}

p,
li {
    // Type
    line-height: 130%;
}

strong {
    // Type
    font-weight: 600;
}

a {
    // Type
    text-decoration: none;
    color: $ui-color-1;
}

a:hover {
    // Type
    text-decoration: underline;
}

//---- Responsive ----//
@media screen and (min-width: 1025px) {
    p,
    li {
        @include rem(24px);
    }

    @include heading_sizes(34px, 26px, 22px, 18px, 16px, 14px);
}

@media screen and (max-width: 1024px) and (min-width: 501px) {
    p,
    li {
        @include rem(20px);
    }

    @include heading_sizes(28px, 24px, 22px, 18px, 16px, 14px);
}

@media screen and (max-width: 500px) {
    p,
    li {
        @include rem(16px);
    }

    @include heading_sizes(22px, 20px, 18px, 16px, 14px, 12px);
}
