body {
    // Type
    font-family: map-get($font-1, family);
    font-size: $font-base-size;
    color: $font-base-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // Type
    font-weight: 300;
    line-height: 140%;
    color: $ui-color-2-2;
}

p,
li {
    @include rem(24px);
}

strong {
    // Type
    font-weight: 600;
}

a {
    // Type
    color: $ui-color-1;
}

@include heading_sizes(34px, 32px, 26px, 22px, 18px, 16px);
